html, body {
    color: #999;
    background: #010101;
}

#space {
    width: 600px;
    height: 600px;
    border: 1px solid;
    position: relative;
    overflow: hidden;
}

#ship {
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
    top: 50%;
    left: 50%;
    justify-content: center;
    transform-origin: center;
    display: flex;
}

.info {
}

#ship .head {
    background: darkgreen;
    height: 22%;
}

.bullet {
    position: absolute;
    background: red;
    width: 3px;
    height: 3px;
}

.center-dot {
    background: black;
    /* position: absolute; */
    display: block;
    width: 3px;
    height: 3px;
    transform-origin: center;
    align-self: center;
    justify-self: center;
    justify-content: center;
    justify-items: center;
}